@import "variables";

@font-face {
	font-family: Avenir;
	src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
	font-weight: 400;
}
@font-face {
	font-family: Avenir;
	src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
	font-weight: 700;
}
@font-face {
	font-family: Avenir;
	src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
	font-weight: 600;
}

//everything
.header {
	background-color: $black;
	color: white !important;
}

.header__logo {
	height: 20px;
	width: 20em;
}

//tablets
@media only screen and (min-width: 768px) {
}

//desktops
@media only screen and (min-width: 1280px) {
}

html,
body,
ul {
	font-family: Avenir;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	color: $black;
}
