@use "variables" as *;
@use "mixins" as *;
@use "fonts";

.footer {
	background-color: $black;
	color: $mercury;
	overflow: auto;
	&__container {
		@include margin;
	}
}

.header {
	background-color: $black;
	color: white;
	text-align: center;
	padding-top: 24px;

	@include tablet {
		padding-top: 0;
	}

	&__logo {
		height: 20px;
		width: 120px;
		margin-right: 32px;
	}

	&__links {
		display: flex;
		align-items: baseline;
		justify-content: center;

		@include tablet {
			width: fit-content;
		}
	}

	&__link {
		flex-grow: 1;
		box-sizing: border-box;
		color: $mercury;

		@include tablet {
			flex-grow: 0;
			margin: 0 24px;
			padding: 8px 0;
		}

		&--active {
			color: white;
			border-bottom: 4px solid white;
			font-weight: 500;
		}

		&:hover {
			border-bottom: 4px solid white;
		}
	}
}

nav {
	@include tablet {
		@include margin;
		display: flex;
		align-items: center;
	}
}

html,
body,
ul {
	font-family: Avenir;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	color: $black;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}
