@use "partials/global";
@use "partials/mixins" as *;
@use "partials/variables" as *;

//everything
.hero {
	background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
	background-size: cover;
	background-position: center;
	aspect-ratio: 1.6;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;

	&__title {
		@include margin;
		font-weight: 600;
	}

	@include desktop {
		aspect-ratio: 2;
	}
}

.about {
	@include margin;
	&__container {
		@include tablet {
			padding: 0 3rem;
		}

		@include desktop {
			padding: 0 5rem;
		}
	}

	&__title {
		@include headline;
	}

	&__img {
		@include comp;
		width: 100%;
	}

	&__quote {
		@include comp;
		padding-top: none;
		font-size: 1rem;
		line-height: 1.375rem;
		font-weight: 600;

		@include tablet {
			font-size: 1.5rem;
			line-height: 2rem;
		}

		@include desktop {
			max-width: 80%;
		}
	}

	&__attribution {
		font-size: 1rem;
		line-height: 1.375rem;
		font-weight: 600;

		@include tablet {
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
	&__bio {
		& > p {
			@include comp;
			flex: 0 1 46%;
		}
		@include tablet {
			display: flex;
			flex: 0 1;
			flex-basis: 45%;
			justify-content: space-between;
		}
	}
}

.gallery {
	background-color: $alabaster;
	width: 100%;
	overflow: hidden;

	&__title {
		@include margin;
		@include headline;
	}

	&__container {
		@include margin;

		display: flex;
		flex-wrap: wrap;
		flex: 0 1 30%;
		justify-content: space-between;
	}

	&__img {
		@include comp;

		width: 100%;

		@include tablet {
			padding-bottom: 0;
			width: 32%;
			margin-bottom: 2%;

			//Only apply grayscale animation on tablet+ because hover doesn't work without a cursor of some sort, which mobile devices don't have.
			filter: grayscale(1);
			transition: filter 0.25s ease-out;
			&:hover {
				filter: grayscale(0);
			}
		}
	}
}

.comments {

	&__container {
		@include margin;
		@include tablet {
			width:80%;
			margin: 0 auto;
			box-sizing:border-box;
		}
		@include desktop {
			width: 40vw;
			margin:0 auto;
			box-sizing:border-box;
		}
	}
	&__title {
		@include margin;
		@include headline;
	}

	&__add {
		width:100%;
		display:flex;
		gap:16px;
	}

	&__img {
		flex: 0 0 36px;
		width:2.25rem;
		height:2.25rem;
		border-radius:50%;
		margin-top:1.5rem;

		background-image: url(../assets/images/Mohan-muruge.jpg);
		background-size:cover;


		@include tablet {
			min-width:3rem;
			height:3rem;
		}
	}
}

.commentForm {
	flex: 1 1 auto;
	min-width:0;
	&__input {
		@include comp;
		border: $mercury 1px solid;
		border-radius:0.25rem;

		box-sizing: border-box;
		padding:0.75rem;
		margin-top:0.25rem;
		margin-bottom:1rem;
		width:100%;
		max-width:100%;

		@include tablet {
			padding:1rem;
		}

		&--error {
			border-color:$error;
		}
	}
	&__label {
		color:$silver;
		font-size:10px;
		font-weight:700;
		line-height:20px;
		text-transform: uppercase;

		display:block;

		@include tablet {
			font-size:12px;
		}
	}

	&__button {
		color:white;
		background-color: $black;
	
		font-weight:700;
		font-size:10px;
		line-height:20px;

		width:100%;
		height:40px;
		border:none;
		border-radius:4px;

		margin-bottom:1rem;

		@include tablet {
			min-width:9rem;
			width:0;
			padding:0 2rem;
			float:right;
			margin-bottom:1rem;
			font-size:12px;
		}

		&:hover {
			background-color:$darkblack;
			cursor:pointer;
		}
	}
}

.comment {
	margin: 0 auto;
	display:flex;
	gap:16px;
	margin-bottom:16px;
	width:100%;
	&__img {
		min-width:2.25rem;
		height:2.25rem;
		border-radius:50%;
		background-color:$mercury;

		transform:translateY(-10%);

		@include tablet {
			min-width:3rem;
			height:3rem;
		}
	}

	&__info {
		display:flex;
		justify-content: space-between;
		align-items:baseline;
	}

	&__name {
		font-weight:600;
		margin-bottom:16px;
	}

	&__time {
		color:$silver;
	}

	&__inner {
		width:100%;
	}
}