@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
h1,
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
  line-height: 1.125rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2.2rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.header {
  background-color: #323232;
  color: white;
  text-align: center;
  padding-top: 24px;
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 0;
  }
}
.header__logo {
  height: 20px;
  width: 120px;
  margin-right: 32px;
}
.header__links {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .header__links {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header__link {
  flex-grow: 1;
  box-sizing: border-box;
  color: #e1e1e1;
  border-bottom: 4px solid #323232;
}
@media only screen and (min-width: 768px) {
  .header__link {
    flex-grow: 0;
    margin: 0 24px;
    padding: 8px 0;
  }
}
.header__link--active {
  color: white;
  border-color: white;
  font-weight: 600;
}
.header__link:hover {
  -webkit-animation-name: header__link;
          animation-name: header__link;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.header__link > a > p {
  margin: revert;
}

@-webkit-keyframes header__link {
  to {
    border-bottom: 4px solid white;
  }
}

@keyframes header__link {
  to {
    border-bottom: 4px solid white;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    margin: 0 16px;
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  nav {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  nav {
    margin: 0 auto;
    width: 1020px;
  }
}

.footer {
  background-color: #323232;
  color: #e1e1e1;
  overflow: hidden;
}
.footer__container {
  margin: 0 16px;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__container {
    margin: 0 auto;
    width: 1020px;
  }
}
.footer__title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (min-width: 768px) {
  .footer__title {
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__top::before {
    content: "";
    background-image: url(../../assets/logos/Logo-bandsite.svg);
    background-size: auto;
    background-position-y: top;
    background-repeat: no-repeat;
    width: 120px;
    aspect-ratio: 6;
    float: right;
    transform: translateY(50%);
  }
}
.footer__icons {
  display: flex;
  justify-content: left;
  gap: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contacts::after {
    content: "";
    width: 120px;
  }
}
.footer__contact {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__contact {
    padding-bottom: 2.25rem;
  }
}
.footer__name {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__name {
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}
.footer__name > p {
  font-weight: 600;
  margin: 0;
}
.footer__info {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__info {
    padding-bottom: 2.25rem;
  }
}
.footer__info > p {
  margin: 0;
}
.footer__logo {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__copyright {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    padding-bottom: 2.25rem;
  }
}

html,
body {
  font-family: Avenir;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: #323232;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 1.6;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}
.hero__title {
  margin: 0 16px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    margin: 0 auto;
    width: 1020px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    aspect-ratio: 2;
  }
}

.about {
  margin: 0 16px;
}
@media only screen and (min-width: 768px) {
  .about {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    margin: 0 auto;
    width: 1020px;
  }
}
@media only screen and (min-width: 768px) {
  .about__container {
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__container {
    padding: 0 5rem;
  }
}
.about__title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .about__title {
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}
.about__img {
  padding-bottom: 1rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .about__img {
    padding-bottom: 2.25rem;
  }
}
.about__quote {
  padding-bottom: 1rem;
  padding-top: none;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .about__quote {
    padding-bottom: 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about__quote {
    max-width: 80%;
  }
}
.about__attribution {
  font-size: 1rem;
  line-height: 22px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .about__attribution {
    font-size: 1.2rem;
    line-height: 32px;
  }
}
.about__bio > p {
  padding-bottom: 1rem;
  flex: 0 1 46%;
}
@media only screen and (min-width: 768px) {
  .about__bio > p {
    padding-bottom: 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__bio {
    display: flex;
    flex: 0 1;
    flex-basis: 45%;
    justify-content: space-between;
  }
}

.gallery {
  background-color: #fafafa;
  width: 100%;
  overflow: hidden;
}
.gallery__title {
  margin: 0 16px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .gallery__title {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__title {
    margin: 0 auto;
    width: 1020px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__title {
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}
.gallery__container {
  margin: 0 16px;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 30%;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .gallery__container {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__container {
    margin: 0 auto;
    width: 1020px;
  }
}
.gallery__img {
  padding-bottom: 1rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .gallery__img {
    padding-bottom: 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__img {
    padding-bottom: 0;
    width: 32%;
    margin-bottom: 2%;
    filter: grayscale(1);
    transition: filter 0.25s ease-out;
  }
  .gallery__img:hover {
    filter: grayscale(0);
  }
}/*# sourceMappingURL=bio.css.map */