@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
h1,
h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

p {
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
main,
.footer__container {
  margin: 0 16px;
}
@media only screen and (min-width: 768px) {
  main,
.footer__container {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  main,
.footer__container {
    margin: 0 auto;
    width: 1020px;
  }
}

.header {
  background-color: #323232;
  color: white;
  text-align: center;
  padding-top: 24px;
}
.header__logo {
  height: 20px;
  width: 120px;
  margin-right: 32px;
}
.header__links {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.header__link {
  flex-grow: 1;
  box-sizing: border-box;
  color: #e1e1e1;
}
.header__link--active {
  color: white;
  border-bottom: 4px solid white;
  font-weight: 700;
}
.header__link:hover {
  border-bottom: 4px solid white;
}

@media only screen and (min-width: 768px) {
  nav {
    margin: 0 16px;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  nav {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  nav {
    margin: 0 auto;
    width: 1020px;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .header__links {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media only screen and (min-width: 768px) {
  .header__link {
    flex-grow: 0;
    margin: 0 24px;
    padding: 8px 0;
  }
}
html,
body,
ul,
h1 {
  font-family: Avenir;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: #323232;
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 2/1.1;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}
.hero__title {
  margin: 0 16px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    margin: 0 auto;
    width: 1020px;
  }
}/*# sourceMappingURL=bio.css.map */